<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
</head>
<body>
  <% include templates/menu.ejs %>
  <div id="title" class="inverted row title card">
    <!-- Light that scans behind the hex -->
    <div class="scanner"></div>
    <div class="content">
      <div class="container">
        <img src="images/bee-logo.svg">
        <h1>hackConcordia</h1>
      </div>
      <% include templates/nav.ejs %>
    </div>
  </div>
  <div id="about" class="row card">
    <div class="container">
      <h1>about</h1>
      <p>
        HackConcordia is a student group at <a href="http://concordia.ca">Concordia University</a> that focuses on fostering a community of developers that are using technology to learn about and create amazing things.
      </p>
      <p>
        This website is the place to go to get information on upcoming Hackathons and other events that Concordia students will be attending. It's also a great place to go for learning resources to help you get started and improve your hacks!</p>
      <div class="what-we-do">
        <h2>What We Do</h2>
        <img class="play" src="images/play.svg">
      </div>
    </div>
  </div>
  <div id="events" class="inverted row card">
    <div class="container">
      <h1>events</h1>
    </div>
  </div>
  <div id="resources" class="row card">
    <div class="container">
      <h1>resources</h1>
    </div>
  </div>
  <footer>

  </footer>

  <% include scripts.ejs %>

  <!-- Brings the yellow scan through the hex grid -->
  <script type="text/javascript">
    $(document).ready(function () {
      var scanner = $('.scanner');

      scan();

      function scan () {
        scanner.velocity({
          left: '100%'
        }, {
          easing: 'linear',
          duration: 15000,
          complete: function () {
            scanner.css('left', -scanner.outerWidth());
            scan();
          }
        });
      }
    });
  </script>

  <!-- Show the 'what we do' -->
  <script type="text/javascript">
    $(document).ready(function () {
      var whatWeDoPlay = $('.what-we-do img');

      whatWeDoPlay.one('click', function () {
        var gif = $('<img class="hacking" src="images/hacking_in_progress.gif"/>')
        whatWeDoPlay.closest('.what-we-do').append(gif);
        whatWeDoPlay.remove();
      });

    });
  </script>

  <!-- Controls the menu -->
  <script type="text/javascript">

    $(document).ready(function () {
      var menu  = $('.menu');
      var hammy = $('.hamburger');
      var links = menu.find('li a');
      var nav   = menu.find('nav');

      hammy.on('click', function () {
        toggleMenu();
      });

      links.on('click', function () {
        if (hammy.is(':visible')) {
          toggleMenu();
        }
      });

      function toggleMenu () {
        var isFull = menu.hasClass('full');

        menu.velocity({
          'height': (isFull)? '3em' : '100%'
        },{
          duration: 400,
          begin: function () {
            if (isFull) {
              menu.removeClass('full');
            }
          },
          complete: function () {
            if (!isFull) {
              menu.addClass('full');
            }
          }
        });
      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
      var menu = $('.menu');
    });
  </script>

</html>