<!DOCTYPE html>
<html>
<head>
    <% include head.ejs %>
</head>
<body>
    <div class="inverted feature">
        <div class="content">
            <h1>hackConcordia</h1>
            <h2>The site will bee up soon!</h2>
            <img class="logo" src="images/bee-logo.svg">
            <div>
                <a target="_blank" href="/ConHacks2015.pdf">
                    <button class="action inverted">Sponsorship Package</button>
                    </a>
            </div>
            <div class="email">sponsor@hackconcordia.com</div>
        </div>

    </div>
</html>