o<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
</head>
<body>
  <% include templates/menu.ejs %>
  <div id="title" class="inverted row title card">
    <!-- Light that scans behind the hex -->
    <div class="scanner"></div>
    <div class="content">
      <div class="container">
        <img src="images/bee-logo.svg">
        <h1>hackConcordia</h1>
      </div>
      <% include templates/nav.ejs %>
    </div>
  </div>
  <div id="about" class="row card">
    <div class="container">
      <div class="column half">
        <h1>about</h1>
        <p>
          HackConcordia is a student group at <a href="http://concordia.ca">Concordia University</a> that focuses on fostering a community of developers that are using technology to learn about and create amazing things.
        </p>
        <p>
          This website is the place to go to get information on upcoming Hackathons and other events that Concordia students will be attending. It's also a great place to go for learning resources to help you get started and improve your projects!</p>
      </div>
      <div class="column half what-we-do">
        <h2>What We Do</h2>
        <img class="play" src="images/play.svg">
      </div>
    </div>
  </div>
  <div id="events" class="inverted row card">
    <div class="container">
      <h1>events</h1>
      <iframe class="calendar" src="https://www.google.com/calendar/embed?src=03ks2517j00h1453vt3n42o9e4%40group.calendar.google.com&ctz=America/Montreal" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
      <p> Something missing? Let us know on twitter <a href="https://twitter.com/HackConcordia">@HackConcordia</a>, Facebook or <a href="https://github.com/HackConcordia/Website/issues/new?title=Website%20improvement:">GitHub</a>!</p>
    </div>
  </div>
  <div id="resources" class="row card">
    <div class="container">
      <h1>resources</h1>
      <div class="resources">

        <% for(var i = 0; i < resources.length; i++) { %>
          <div class="resource">
            <a href="<%= resources[i].url %>" target="_blank">
              <%= resources[i].title %>
            </a>
            <div class="description">
              <%= resources[i].description %>
            </div>
          </div>
        <% } %>

      </div>
      <p><a href="https://github.com/HackConcordia/Website/issues/new?title=Resource%20suggestion:">Suggest a resource</a></p>
    </div>
  </div>

  <% include templates/footer.ejs %>

  <% include scripts.ejs %>

</html>