<!DOCTYPE html>
<html>
<head>
    <title>HackConcordia</title>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="column full">
                <h1>HackConcordia</h1>
                <div id="example"></div>
                <div class="ejs"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    </script>
</body>
</html>