*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media (min-width: 770px) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }

  .column.full {
    width: 100%; }

  .column.two-thirds {
    width: 66.7%; }

  .column.half {
    width: 50%; }

  .column.third {
    width: 33.3%; }

  .column.fourth {
    width: 25%; }

  .column.flow-opposite {
    float: right; } }
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Ubuntu Mono', sans-serif; }

h1 {
  padding-bottom: 0.67em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  margin: 0;
  padding: 0; }

h2 {
  padding-bottom: 2em; }

a {
  color: #5677fc; }

p, a, div {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

html, body {
  height: 100%;
  width: 100%; }

.inverted {
  color: yellow;
  background-color: #111111; }

.feature {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("images/grid.svg"); }
  .feature .content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .feature h1 {
    font-size: 4em; }
