<nav>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#resources">Resources</a></li>
        <li><a href="/positions">Positions</a></li>
    </ul>
</nav>
