h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Ubuntu Mono', sans-serif;
}

h1 {
    padding-bottom: $gap;
    margin: 0;
    padding: 0;
}

h2 {
    padding-bottom: 2em;
}

a {
    color: $c-highlight;
}

p, a, div {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    width: 100%;
}

button {
    outline: none;
}

.inverted {
    color: $c-yellow;
    background-color: $c-black;

    a {
        color: $c-yellow;
    }
}

button.inverted {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: $c-yellow;
    color: $c-black;
    font-weight: 700;
}

// What takes a full page
.card {
    height: 100%;
    width: 100%;
}