.title.card {
    min-height: 100%;
    position: relative;
    background-color: #111;
    overflow: hidden;
    padding: 0;

    .content {
        background-image: url('../images/hex_grid_tile_50_tight.png');
        height: 100%;
        width: 100%;
        position: absolute;

        img {
            display: block;
            margin: auto;
            margin-bottom: 1em;
        }

        nav {
            position: absolute;
            bottom: 5em;
            width: 66%;
            margin: auto;
            right: 0;
            left: 0;
        }

        nav li {
            display: table-cell;
            text-align: center;
            list-style-type: none;

            // One for each (bad)
            width: 33%;


            a {
                padding: 1em 1.5em;
                border: 1px solid #ff0;
                border-radius: 0.5em;
                margin: 0 0.5em;
            }

            a:hover {
                background-color: #ff0;
                color: #000;
            }

        }

        nav ul {
            padding: 0;
            display: table;
            width: 100%;
        }
    }

    .scanner {
        position: absolute;
        left: -25%;
        width: 25%;
        height: 100%;

        background: -moz-linear-gradient(left,  rgba(255,255,0,0) 0%, rgba(255,255,0,0.5) 50%, rgba(255,255,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,0,0)), color-stop(50%,rgba(255,255,0,0.5)), color-stop(100%,rgba(255,255,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,0,0) 0%,rgba(255,255,0,0.5) 50%,rgba(255,255,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,0,0) 0%,rgba(255,255,0,0.5) 50%,rgba(255,255,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,0,0) 0%,rgba(255,255,0,0.5) 50%,rgba(255,255,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,0,0) 0%,rgba(255,255,0,0.5) 50%,rgba(255,255,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            text-align: center;
        }
    }
}

#about {
    img {
        margin: auto;
        display: block;
        cursor: pointer;
    }

    .hacking {
        height: 250px;
        max-width: 100%;
    }

    .play {
        height: 200px;
    }
}

#events {
    background-image: url('../images/hex_grid_tile_50_tight.png');

    li {
        list-style-type: none;
        padding: 1em;
        border-top: 1px solid $c-yellow;
        border-bottom: 1px solid $c-yellow;
    }

    ul {
        text-align: center;
    }

    iframe {
        margin: 1em 0;
        //width:100%;
    }
}

.social-buttons {



    ul li {
        list-style-type: none;
        display: inline-block;
    }

    svg {
        height: 5em;
        width: 5em;
    }

    svg:hover {
        opacity: 0.5;
    }
}