.feature {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4em 0;

    background-image: url('images/grid.svg');

    .content {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (max-width: $bp-medium) {
            top: auto;
            transform: none;
        }
    }

    .logo {
        margin-bottom: 3em;
    }

    h1 {
        font-size: 4em;
    }
}