.menu {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 0.5em;
    position: fixed;
    height: $menuHeight;
    background-color: #fff;
    border: 1px solid #ddd;

    & ~ * {
        //padding-top: $menuHeight;
    }

    ul {
        margin: 0;
    }

    li {
        display: inline;
        list-style-type: none;
        padding: 0 2em;
    }

    h1 {
        cursor: pointer;
    }

    .logo {
        margin-right: 1em;
    }

    .logo, h1 {
        float: left;
    }

    // reigning in the nav
    .container {
        position: relative;
    }

    nav {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:visited {
            color: inherit;
        }
    }

}